body {
    background: #212424;
    color: #e1e1e1;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.8;
}

#opera {
    margin-left:10px;
	margin-bottom:10px;
	background-color:red;
	opacity:1;
	float:left;
	width:100px;
	height:1px;
}
.sandbox {
    background: red;
    height: 300px;
    width: 600px;
}

.element {
 
    /* --- the order of shorthand properties -ndtdib- --- */
    /* ---               refactored to js             --- */
    /*
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-direction: reverse;
    */

    border: 1px solid #444;
    height: 100px;
    position: relative;
    width: 100px;
}

.element-name {
    color: #41c7c7;
    font-size: 36px;
    font-weight: 600;
    line-height: 100px;
    text-align: center;

}

.element-number {
    color: #888;
    font-size: 12px;
    left: 5px;
    position: absolute;
}

#n1 {
    
}

/* --- refactored to js --- */
/*
@keyframes move {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
*/